# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Migrations (opsional, kalau mau simpan di git hapus bagian ini)
**/migrations/*.py
!**/migrations/__init__.py

# IDE / Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System files
.DS_Store
Thumbs.db

# Env file (credentials, secret key, db password)
.env
*.env
